body {
  background: #fff;
  color: navy;
  display: flex;
  font-family: 'Roboto', sans-serif;
  padding: 20px 50px;
}

h1 {
  flex: 1 1 auto;
  width: 100%;
}

.error__count {
  text-decoration: underline;
  -moz-text-decoration-color: orange; /* Code for Firefox */
  text-decoration-color: orange;
}

.appointment__manage, .appointment__display {
  margin: 0 auto;
  padding: 0;
  width: 38%;
}
.appointment__display  {
  width: 60%;
}

.new__reveal {
  background-color: orange;
  border-radius: 5px;
  margin: 5px auto;
  padding: 5px 10px;
  text-align: center;
  width: 120px;
}

/*.new__reveal:hover {
  transform: scale(1.25);
}*/
.appointment__add, .appointment__search {
  margin: 20px auto;
}
.or {
  margin: 10px auto;
  text-align: center;
  width: 100%;
}
.new__form {
  background-color: #efefef;
  height: -20px;
  display: flex;
  flex-direction: column;

}

.new__form input {
  border: 1px solid orange;
  color: navy;
  display: none;
  height: 25px;
  margin: 5px auto;
  width: 60%;
}

input[type=submit] {
  background-color: orange;
  border-radius: 5px;
  margin: 5px auto;
  padding: 5px 10px;
  text-align: center;
  width: 120px;
}

.appointment__search {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.appointment__search input {
  border: 1px solid orange;
  color: navy;
  height: 25px;
  margin: 5px auto;
  width: 60%;
}

.appointment__search [type=submit] {
  background-color: orange;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  height: 30px;
  margin: 5px auto;
  width: 140px;
}

table {
  margin: 20px auto;
  width: 98%;
}

tr {
  width: 100%;
}

tr:nth-of-type(even) {
    background: #dfdfdf;
}

td {
  padding: 8px 8px;
  width: 33%;
}
